
{% extends 'registro/common.html' %}

{% block content %}

<form method="POST">
  {% csrf_token %}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control" />
    <label class="form-label" for="email">Email address</label>
  </div>
  <div class="form-outline mb-4">
    <input type="password" id="passwd" class="form-control" />
    <label class="form-label" for="passwd">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

</form>

{% endblock %}