<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>
    Teseo - {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% include 'layout/navbar.html' %}

    <div style="max-width: 800px; margin: auto;">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>